version: 2.1

setup: true

.filter_all: &filter_all
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

.require_tests: &require_tests
  requires:
    - orb-tools/lint
    - orb-tools/pack
    - orb-tools/review
    - shellcheck/check

orbs:
  shellcheck: circleci/shellcheck@3.4.0
  orb-tools: circleci/orb-tools@12.4.0

workflows:
  continuous:
    jobs:
      - orb-tools/lint:
          <<: *filter_all
      - orb-tools/pack:
          <<: *filter_all
      - orb-tools/review:
          exclude: "RC006,RC007,RC010"
          max_command_length: 128
          <<: *filter_all
      - shellcheck/check:
          dir: ./src/scripts
          exclude: SC2148,SC2086
          <<: *filter_all
      - orb-tools/continue:
          pipeline_number: << pipeline.number >>
          vcs_type: << pipeline.project.type >>
          orb_name: <orb-name>
          config_path: .circleci/test_and_deploy.yml
          <<: [*filter_all, *require_tests]
